*{margin: 0%;
    padding:0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;}
    
    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
    
    @font-face {
        font-family: "Rajdhani" ;
        src: url(police/Rajdhani-Medium.ttf);
    }

    :root {
        --yellow-color: #ff0;
        --blue-color: #1100ff;
        --white-color: #fff;
        --black-color: #000;

    }
     
    html {
        background-color: var(--black-color);
        color: var(--white-color);
    }

    
    
    button {
        font-family: "Rajdhani" ;
        font-size: 20px;
        font-weight: 400;
        width: 150px;
        height: 50px;
        
    
    }
    
    .container {
        width: 80%;
        margin: 0 auto;
    }
    
    nav{display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav ul{list-style-type: none;}
    nav li{float: right;
    width: 9%;
    text-align: center;
    padding: 50px;}
    
    nav a{
    color: var(--white-color)}
    
    nav a:hover{color: #ecbf83;
    }
    
    nav ul::after{content:"";
    display: table;
    clear: both;}
    
    
     
    body{padding: 30px; ;}
    
    
    body {background-color:black ;
    color: white;
    font-family: "Space-Grotesk";
    font-weight: 300 ;}
    
    button:hover {background-color: #cce4f1; color: rgb(156, 137, 108);}
    button {padding: 20px;  font-size: medium;}

    /* css de la tete */

.hero {
    background-image: url(Illustrations/Batgame_1.png);
    background-repeat: no-repeat;
    background-color: aqua;
    background-size: cover;
    height: 800px;
    padding-top: 350px;
}



h2 {
    font-family: "Space-Grotesk";
    margin-top: 10px;
}


.fraise{
    margin-top: 25px;
    align-items: center;
    padding-right: 55px;
    opacity: 0.4;
}
.btn2,.btn1 {
    margin-left: 35px;
    width: 170px;
    color: white;
    border: none;
    
    
}

.btn2 a:link, .btn1 a:link {
    text-decoration-color: #fff;
    
font-size:small;
}
/*
.asideOut{
    position: relative;
    border: 2px solid rgb(238, 255, 0);
} */

.asideInOut1 {
    position: relative;
    height: 300px;
   
    margin-bottom: 200px;

}

.asideInOut2 {
    position: relative;
    height: 300px;
   
    

}

.asideIn1 {
    position: relative;
    top: 0px;
    right: 40px;
}

.asideIn2 {
    
    position: relative;
    bottom: 0px;
    right: 40px;
    
}

aside {
    
    height: 300px;
    width: 50px;
    position:absolute;
    right: 80px;
    top: 400px;
    line-height: 50px;
    padding-top: 80px;
    
}

img[class="lougo"]:hover, img[class="arrow"]:hover  {
    filter: opacity(0.4) drop-shadow(0 0 0 #fbff00f5);
}

.down{
    text-align: center;
    margin-top: 370px;
    margin-bottom: 200px;
    color: white;
    font-size: xx-large;
}


/* css news */
 h1[class="poto"] {
    font-size:40px;
    line-height: 55px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.choco{
    
    position: relative;
    
}

.batg2{
    
    height: 500px;
    width: 900px;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 90px;
}

h1[class="poto2"] {
    text-align: center;
    font-size: 30px;
}

img[alt="batgame2"]{
  width: 100%;
  height: 100%; 
  
  
}

button[type="button"] {
    height: 60px;
    width: 320px;
    margin:  0px 0px 0px 520px;
    color: white;
    background: linear-gradient(to right ,rgb(23, 50, 92),rgb(245, 173, 80));
}

main {
    height: 1700px;
    margin-bottom: 200px;
}

/* CSS FOOTER */

footer{
    
    padding-left: 80px;
}

.ft1 p {
    font-size: x-small;
}

.ft1{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ftout{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ft2{
    margin-right: 50px;
    word-spacing: 10px;
    
}


.ft3{
    word-spacing: 10px;
    
}

/* CSS PAGE 1 -FICHIER GAME */


a[href="numPage"] {
    color: var(--white-color);
    text-decoration: none;
    font-size: xx-large;
}

.out {
    border: 2px solid var(--white-color);
    margin-bottom: 100px;
    margin-left: 300px;
    position: relative;
   /* display: grid;
    grid-template-columns: 1fr 2fr; */
    width: 900px;
    
}

.Question-box {
    position: absolute;
    top: 0;
    right: 190px;
}

.incheck{
    margin-bottom: 10px;
    height: 40px ;
    width: 450px;
    padding-top: 5px;
    font-size: 20px;
    background-color: rgb(148, 143, 143);
}

.sphx{
    margin-top: 30px;
}



input.larger{
    width:26px ;
    height: 26px ;
}

/* CSS PAGE 2 -FICHIER GAME */

.out1 {
    margin-bottom: 100px;
    margin-left: 300px;
    position: relative;
    /*display: grid;
    grid-template-columns: 1fr 2fr; */
    width: 900px;
    display: none;
    
}

.Question-box {
    position: absolute;
    top: 0;
    right: 190px;
}